@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
    background-image: url(../bg.gif);
    background-repeat: repeat;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: normal 400;
    font-size: 64px;
}

 body div {
     margin-top: 250px;
     color: white;
 }
