@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
    background-image: url(../bg.gif);
    background-repeat: repeat;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: normal 400;
    font-size: 64px;
}

 body div {
     margin-top: 250px;
     color: white;
 }

.btmcntr {
    bottom: 10px;
    border-radius: 6px;
    margin: 0 auto;
    background-color: #5fd38d;
    width: 60%;
}

.btm {
    padding: 10px 10px;
}

.btm p,a {
    display: inline-block;;
    font-size: 24px;
    margin: 10px;
    vertical-align: middle;
}
